body{
  height: auto !important;
  margin: auto;
  width: 50%;
}
/* Klasse von Signup Div */
.Signup-Form{
  max-width: 12em;
  max-height: 40em;
  padding: 1em; /* polsteuerung */

}
/* style für eingabe feld */
.inpText{
  padding: 1em;
  margin: 1em;

}
.inpButton{

}
